<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffEngine" version="6.4.9" targetFramework="net461" />
  <package id="EmptyFiles" version="2.3.3" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net461" />
  <package id="Shouldly" version="4.0.3" targetFramework="net461" />
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="net461" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.13" targetFramework="net461" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.13" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>